.call-section {
    background-color: #495E57;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding: 3vw 0vw;
    flex-direction: row;

    .info {
        flex: 0.6;
        padding: 4vw 3vw 4vw 20vw;

        h1 {
            color: #F4CE14;
        }

        h2,
        p,
        button {
            color: #EDEFEE;
        }
    }

    .image {
        position: relative;
        flex: 1;
        img {
            width: 60%;
            height: 32rem;
            position: absolute;
            border-radius: 16px;
            top: -8px;
        }
    }

    @media (max-width: 800px) {
        flex-direction: column;

        .image {
            align-self: center;

            img {
                width: 120px;
                height: 140px;
                position: relative;
            }
        }
    }
}