.nav {
  display: flex;
  flex-direction: row;
  background-color: #EDEFEE;
  padding: 20px;

  .image {
    flex: 0.8 1;
    text-align: center;

    img {
      width: 200px;
    }
  }

  .menu {
    flex: 0.8 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a {
      font-size: 18px;
      font-weight: 600;
      color: #333333;
      text-decoration: none;

      &:hover {
        transform: scale(1.2);
        transition: 0.4s;
      }
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    .menu {
      padding: 0;
      flex-direction: column;
    }
  }
}