h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-family: 'Markazi Text', sans-serif;
}

p,
span,
ul,
li {
    color: #333333;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

button {
    border: none;
    font-size: 18px;
}